<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit An Employee Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/employee.dashboard.css}">
</head>

<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Edit Details</h2>
                </div>
                <div class="card-body">
                    <form id="userInfoForm" th:action="@{/employee/update/{id}(id=${employee.id})}" method="post"
                          th:object="${employee}">
                        <div class="page" id="page1">
                            <div class="form-group">
                                <label for="name">Full Name</label>
                                <input type="text" id="name" name="name" th:value="${employee.name}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="age">Age</label>
                                <input type="number" id="age" name="age" th:value="${employee.name}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" id="email" name="emailAddress" th:value="${employee.emailAddress}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="homeAddress">Home Address</label>
                                <input type="text" id="homeAddress" name="homeAddress" th:value="${employee.homeAddress}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="tel" id="phoneNumber" name="phoneNumber" th:value="${employee.phoneNumber}" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="department">Department</label>
                                <select id="department" name="department" class="form-control">
                                    <option value="Data">Data</option>
                                    <option value="Infrastructure">Infrastructure</option>
                                    <option value="Software">Software</option>
                                    <option value="Cybersecurity">Cybersecurity</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="gender">Gender:</label>
                                <select id="gender" name="gender" class="form-control">
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>

                            <div class="form-group text-center">
                                <button type="button" class="btn btn-primary" onclick="nextPage('page1', 'page2')">Next</button>
                            </div>
                        </div>

                        <div class="page" id="page2" style="display: none">
                            <div class="form-group">
                                <label for="bonus">Bonuses</label>
                                <input type="number" id="bonus" name="bonus" th:value="${employee.bonus}" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="tax">Tax</label>
                                <input type="number" id="tax" name="tax" th:value="${employee.tax}" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label for="salary">Monthly Salary</label>
                                <input type="number" id="salary" name="salary" th:value="${employee.salary}" class="form-control" />
                            </div>

                            <!-- Previous and Submit buttons for page 2 -->
                            <div class="form-group text-center">
                                <button type="button" class="btn btn-primary" onclick="prevPage('page2', 'page1')">Previous</button>
                                <button type="submit" class="btn btn-primary" onclick="submitForm()">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function nextPage(currentPageId, nextPageId) {
        $("#" + currentPageId).hide();
        $("#" + nextPageId).show();
    }

    function prevPage(currentPageId, prevPageId) {
        $("#" + currentPageId).hide();
        $("#" + prevPageId).show();
    }

    function submitForm() {
        if ($('#userInfoForm')[0].checkValidity()) {
            // Form is valid, submit and redirect
            alert('Form submitted successfully!');
            window.location.href = 'test.html';
        } else {
            // Form is not valid, show error or handle accordingly
            alert('Please fill out all required fields.');
        }
    }
</script>
</body>

</html>
