<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/employee.dashboard.css">

</head>

<body>
    <div class="cardi" style="width: 75rem;">
  
  <div class="card-body">
    <div class="card-head">
    <a  class="btn btn-primary"><h5 class="card-title">Oluchi"s details</h5></a>
    </div>
   
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Fullname: </b> Oluchi </li>
    <li class="list-group-item"><b>Employee Id: </b> Oluchi </li>
    <li class="list-group-item"><b>Age: </b> Oluchi </li>
    <li class="list-group-item"><b>Email: </b> Oluchi </li>
    <li class="list-group-item"><b>Home Address: </b> Oluchi </li>
    <li class="list-group-item"><b>Phone number: </b> Oluchi </li>
    <li class="list-group-item"><b>Department: </b> Oluchi </li>
    <li class="list-group-item"><b>Role: </b> Oluchi </li>
    <li class="list-group-item"><b>Gender: </b> Oluchi </li>
    <li class="list-group-item"><b>Bonuses: </b> Oluchi </li>
    <li class="list-group-item"><b>Tax: </b> Oluchi </li>
    <li class="list-group-item"><b>Monthly Salary: </b> Oluchi </li>
   


  </ul>
  <div class="card-body">
    
    <a href="#" class="btn btn-primary">Go somewhere</a>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
