<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Details | Employee Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/landing.css}">
</head>
<body>
<style>
    body {
        font-family: 'Arial', sans-serif;
    }

    footer {
<!--        position: fixed;-->
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/employee}">Employee Management</a>
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/create}">Add Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/list}">Dashboard</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container mt-4">
    <h2><span th:text="${employee.name}"></span>'s Details</h2>
    <hr>
    <div class="card text-white bg-secondary mb-3 col-md-8 col-sm-12 mt-5">
        <div class="card-body">
            <h5>
                <strong>Employee ID:</strong> <span th:text="${employee.id}"></span>
            </h5>
            <hr><br>
            <h5>
                <strong>Full Name:</strong> <span th:text="${employee.name}"></span>
            </h5>
            <hr><br>
            <h5>
                <strong>Age:</strong> <span th:text="${employee.age}"></span>
            </h5>
            <hr><br>
            <h5>
                <strong>Email Address:</strong> <span th:text="${employee.emailAddress}"></span>
            </h5>
            <hr><br>
            <h5>
                <strong>Home Address:</strong> <span th:text="${employee.homeAddress}"></span>
            </h5>
            <hr><br>
            <h5>
                <strong>Phone Number:</strong> <span th:text="${employee.phoneNumber}"></span>
            </h5>
            <hr><br>
            <h5>
                <strong>Department:</strong> <span th:text="${employee.department}"></span>
            </h5>
            <hr><br>
            <h5>
                <strong>Salary:</strong> $<span th:text="${employee.salary}"></span>
            </h5>
            <hr><br>
            <h5>
                <strong>Gender:</strong> <span th:text="${employee.gender}"></span>
            </h5>
        </div>
    </div>
</div>

<footer>
    <div class="copyright p-4 my-auto text-center">
        Copyright &copy; <strong><span>Employee Management</span></strong>. All Rights Reserved
    </div>
</footer>
</body>
</html>