<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List | Staff</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <h2><span th:text="${employee.name}"></span>'s Details</h2>
    <hr>
    <div class="mt-5">
        <h4>
            <strong>ID:</strong> <span th:text="${employee.id}"></span>
        </h4><br>
        <h4>
            <strong>Full Name:</strong> <span th:text="${employee.name}"></span>
        </h4><br>
        <h4>
            <strong>Age:</strong> <span th:text="${employee.age}"></span>
        </h4><br>
        <h4>
            <strong>Email Address:</strong> <span th:text="${employee.emailAddress}"></span>
        </h4><br>
        <h4>
            <strong>Home Address:</strong> <span th:text="${employee.homeAddress}"></span>
        </h4><br>
        <h4>
            <strong>Phone Number:</strong> <span th:text="${employee.phoneNumber}"></span>
        </h4><br>
        <h4>
            <strong>Department:</strong> <span th:text="${employee.department}"></span>
        </h4><br>
        <h4>
            <strong>Salary:</strong> <span th:text="${employee.salary}"></span>
        </h4><br>
        <h4>
            <strong>Gender:</strong> <span th:text="${employee.gender}"></span>
        </h4>
        <hr>
    </div>
</div>
</body>
</html>